{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>
        {% block title %}
            🦅 Tweet Website
        {% endblock %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" style="border-bottom:1px solid white;">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="{% url 'tweet_list' %}">
            🦅 Tweet
        </a>

        <!-- Toggle -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Left -->
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tweet_list' %}">
                        Home
                    </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tweet_create' %}">
                        Create Tweet
                    </a>
                </li>
                {% endif %}

            </ul>

            <!-- Search -->
            <form class="d-flex me-lg-3">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search Tweets">

                <button class="btn btn-outline-success">
                    Search
                </button>
            </form>

            <!-- Right -->
            <div class="d-flex flex-column flex-lg-row gap-2 align-items-center">

                {% if user.is_authenticated %}

                    {% if user.profile.profile_image %}
                        <a href="{% url 'profile' %}">
                            <img src="{{ user.profile.profile_image.url }}"
                                 style="width:35px; height:35px; border-radius:50%; object-fit:cover;">
                        </a>
                    {% else %}
                        <a class="btn btn-primary btn-sm" href="{% url 'edit_profile' %}">
                            Edit Profile
                        </a>
                    {% endif %}

                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            Logout
                        </button>
                    </form>

                {% else %}

                    <a href="{% url 'login' %}" class="btn btn-success">
                        Login
                    </a>

                    <a href="{% url 'register' %}" class="btn btn-primary">
                        Register
                    </a>

                {% endif %}

            </div>

        </div>

    </div>
</nav>

<div class="container mt-3">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>