{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  
  
    <title>
        {% block title %}
        🦅Tweet website
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" style="border-bottom:1px solid white;">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="{% url 'tweet_list' %}">
            🦅 Tweet
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Left Menu -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tweet_list' %}">
                        Home
                    </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tweet_create' %}">
                        Create Tweet
                    </a>
                </li>
                {% endif %}

            </ul>

            <!-- Search -->
            <form class="d-flex my-2 my-lg-0 me-lg-3">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search Tweets">

                <button class="btn btn-outline-success"
                        type="submit">
                    Search
                </button>
            </form>

            <!-- Right Side -->
            <div class="d-flex flex-column flex-lg-row gap-2">
              

               {% if user.is_authenticated %}

                {% if user.profile.profile_image %}

                <a href="{% url 'profile' %}" class="btn d-flex align-items-center gap-2">
                <img src="{{ user.profile.profile_image.url }}"
                 class="rounded-circle"
                 width="40"
                 height="40"
                 style="object-fit: cover;">
                </a>

                 {% else %}

                    <a href="{% url 'profile' %}" class="btn btn-outline-light">
                     Edit Profile
                    </a>

                 {% endif %}

                {% endif %}
                <form action="{% url 'logout' %}" method="post" >
                    {% csrf_token %}
                    
                    <button class="btn btn-danger w-100 mt-2">
                        Logout
                    </button>
                </form>

                {% else %}

                <a href="{% url 'login' %}"
                   class="btn btn-success">
                    Login
                </a>

                <a href="{% url 'register' %}"
                   class="btn btn-primary">
                    Register
                </a>

                {% endif %}

            </div>

        </div>

    </div>
</nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>