{% extends "layout.html" %}

{% block title %}Tweet Feed{% endblock %}

{% block content %}

<h2 class="text-center my-4">🦅 Tweet Feed</h2>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">
    Create Tweet
</a>

<div class="row ">

    {% for tweet in tweets %}
    <div class="col-12 col-md-4 col-lg-3 mb-3">

        <div class="card shadow-sm p-2">

            <div class="card-body p-2">

                <!-- user info -->
                <div class="d-flex align-items-center mb-2">
                    <a class="profile-link" href="{%url 'profile' %}" style="text-decoration: none; color: white;">
                    <img src="{{ tweet.user.profile.profile_image.url }}"
                         class="rounded-circle me-2"
                         width="35"
                         height="35"
                         style="object-fit: cover;">

                    <div>
                        <strong style="font-size:14px; ">
                            {{ tweet.user.username }}
                        </strong>
                        </a>
                        <br>
                        <small class="text-muted" style="font-size:12px;">
                            {{ tweet.created_at|date:"M d, h:i A" }}
                        </small>
                        
                    </div>

                </div>

                <!-- text -->
                <p style="font-size:14px; margin-bottom:8px;">
                    {{ tweet.text }}
                </p>

                <!-- image -->
                {% if tweet.photo %}
                <img src="{{ tweet.photo.url }}"
                     class="rounded"
                     style="width:100%; max-height:250px; object-fit:cover;">
                {% endif %}

                <!-- buttons -->
                {% if tweet.user == user %}
                <div class="mt-2 d-flex gap-2">

                    <a href="{% url 'tweet_edit' tweet.id %}"
                       class="btn btn-sm btn-outline-primary">
                        Edit
                    </a>

                    <a href="{% url 'tweet_delete' tweet.id %}"
                       class="btn btn-sm btn-outline-danger">
                        Delete
                    </a>

                </div>
                {% endif %}

            </div>

        </div>

    </div>
    {% endfor %}

</div>
 {% endblock %}